<%= render "layouts/signin" %>

<div class='row'>
	<div class='col-md-6'>
		<h2>Log In</h2>
		<% if flash[:error] %>
			<p><%= flash[:error] %></p>
		<% end %>

		<form action='/sessions/create' method='post'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<div class='form-group'>
				<label for='email'>Email</label>	
				<input type='text' class="form-control" name='email'>
			</div>
			<div class='form-group'>
				<label for='password'>Password</label>	
				<input type='text' class="form-control" name='password'>
			</div>
			<div class='text-right'>
				<input type='submit' value='Login' />
			</div>
		</form>
	</div>
</div>