<!-- Register -->

<!-- Combine this with new.html.erb -->

<% content_for :stylesheet do %>
	<%= stylesheet_link_tag 'register.css', media: "all", 'data-turbolinks-track' => true  %>
<% end %> 

<!-- if signed in and admin -->
<% if signed_in? && is_admin? %>
<div class='row'>
	<div class="col-xs-12 title_row">
		<h2 class="form_title">Add a New User</h2>	
		<a href="/users/dashboard" class="btn btn-info pull-right dashboard_btn" role="button">Return to Dashboard</a>
	</div>
</div>
<% end %>

<div class='row'>
	<div class='col-sx-6 inline'>
		<h2 class="form_title">Register</h2>
		<form action='/users/' method='post'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<div class='form-group'>
				<label for='first_name'>First Name</label>	
				<input type='text' class="form-control" name='first_name'>
			</div>
			<div class='form-group'>
				<label for='last_name'>Last Name</label>	
				<input type='text' class="form-control" name='last_name'>
			</div>
			<div class='form-group'>
				<label for='email'>Email</label>	
				<input type='email' class="form-control" name='email'>
			</div>	
			<div class='form-group'>
				<label for='password'>Password - Must be at least 8 Characters</label>	
				<input type='text' class="form-control" name='password'>
			</div>
			<div class='form-group'>
				<label for='password_confirmation'>Confirm Password</label>	
				<input type='text' class="form-control" name='password_confirmation'>
			</div>
			<div class="form-group">
				<div class='text-right'>
					<button type="submit" class="btn btn-default">Register</button>
					<% if !signed_in? %>
					<a href="/sessions/index" class="already_link">Already a member?</a>
					<% end %>
				</div>
			</div>
		</form>
	</div>
	<div class='col-sx-6 inline errors'>
		<div class='error-notice'>
		<% if flash[:errors] %>
			<% flash[:errors].each do |error| %>
				<p class='red'><%= error %></p>
			<% end %>
		<% end %>
		<% if flash[:notice] %>
			<p> <%= flash[:notice] %> </p>
		<% end %>
		</div>
	</div>
</div>