<%= render "layouts/signin" %>

<div class='row'>
	<div class='col-md-12'>
		<div class="jumbotron">
			<h2>Welcome to the Test!</h2>
			<h4>We're going to build a cool application using a MVC 
			framework! This aplication was built with the Village88 folks!</h4>
			<p><a class="btn btn-primary btn-lg" href="/users" role="button">Start</a></p>
		</div>
	</div>
</div>

<div class='row'>
	<div class='col-md-4'>
		<h3>Manage Users</h3>
		<p>Using this application, you'll learn how to add,
		 remove, and edit users for the application</p>
	</div>
	<div class='col-md-4'>
		<h3>Leave a Message</h3>
		<p>Users will be able to leave a message to another
		 user using this application</p>
	</div>
	<div class='col-md-4'>
		<h3>Edit User Information</h3>
		<p>Admins will be able to edit another user's information
		 (email address, first name, last name, etc.)</p>
	</div>
</div>

