.jumbotron {
	text-align: center;
	h2 {
		margin-bottom: 20px;
	}
	h4 {
		margin-bottom: 30px;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	.login_link {
		display: block;
		margin-top: 20px;
	}
}

.sub_block {
	text-align: center;
	h3 {
		text-decoration: underline;
	}
	p {
		width: 250px;
		margin-left: auto;
		margin-right: auto;
	}
}

.test_box {
	width: 200px;
	height: 1000px;
	border: 1px solid red;
}
