<nav class="navbar navbar-inverse footer">
	<div class="container">
		<div class="foot_center">
			<p class="navbar-brand">Dashboard Created by <a href="https://twitter.com/p__chang">Paul C.</a></p>
		</div>
<!-- 		<div class="right_align">
		

			<p class="navbar-text signed_in">Signed in as <a href="#" class="navbar-link">Paul Chang</a></p>
			<a href="" class="logout_nav">Home</a>
		</div> -->
	</div>
</nav>


