<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<p class="navbar-brand">User Dashboard</p>
		</div>
		<div class="right_align">
			<p class="navbar-text signed_in">Signed in as <a href="#" class="navbar-link">Paul Chang</a></p>
			<a href="" class="logout_nav">Logout</a>
		</div>
	</div>
</nav>


