<!-- navbar logout -->
<div class='row'>
	<nav class="navbar navbar-static-top navbar-border">
		<div class='container'>
			<div class='col-md-6'>
				<h4 class='navbar-text nav-margin'>User Dashboard On Rails | <a href="/users/<%=session[:user_id]%>/edit_profile/">Profile</a> </h4>
			</div>
			<div class='col-md-6 text-right link-margin'>
				<h4><a href='/sessions/destroy/' class='nav-link'>Log Off</a></h4>
			</div>
		</div>
	</nav>
</div>