    <!-- navbar login -->
<div class='row'>
	<nav class="navbar navbar-static-top navbar-border">
		<div class='container'>
			<div class='col-md-6'>
				<h4 class='navbar-text nav-margin'>User Dashboard On Rails</h4>
			</div>
			<div class='col-md-6 text-right link-margin'>
				<h4><a class='signin-link' href='/sessions/index/' class='nav-link'>Sign In</a></h4>
			</div>
		</div>
	</nav>
</div>